.container {
    background-image: url('../images/background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}


/* UI */

.timercount,
.scorecount {
    width: 5vw;
    height: 5vh;
    position: absolute;
    margin-left: 6vw;
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Rampart One', cursive;
    font: 900;
}

.timercount {
    top: 0;
}

.scorecount {
    top: 6.2vh;
}

.timericon,
.scoreicon {
    width: 5vw;
    height: 5vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    margin: 10px;
}

.timericon {
    background-image: url('../images/clock.png');
}

.scoreicon {
    background-image: url('../images/score.png');
}

.heartfield {
    width: 30vw;
    height: 10vh;
    position: absolute;
    left: 35vw;
    display: flex;
    flex-direction: row;
}

.heart {
    width: 33%;
    height: 100%;
    background-image: url('../images/heart.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* LILYPAD */

.lilypad {
    position: absolute;
    bottom: 24vh;
    right: 42.5vw;
    width: 16vw;
    height: 16vh;
    background-image: url('../images/lilypad.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* FROG FRAMES */

#frog {
    bottom: 30vh;
    position: absolute;
}

.lfrog1 {
    width: 15vw;
    height: 15vh;
    right: 42.5vw;
    background-image: url('../images/l1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lfrog2 {
    width: 16vw;
    height: 16vh;
    right: 42.5vw;
    background-image: url('../images/l2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lfrog3 {
    width: 18vw;
    height: 20vh;
    right: 42.5vw;
    background-image: url('../images/l3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lfrog4 {
    width: 19vw;
    height: 19vh;
    right: 42.5vw;
    background-image: url('../images/l4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lfrog5 {
    width: 24vw;
    height: 24vh;
    right: 42.5vw;
    background-image: url('../images/l5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lfrog6 {
    width: 26vw;
    height: 26vh;
    right: 42.5vw;
    background-image: url('../images/l6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lfrog7 {
    width: 26vw;
    height: 26vh;
    right: 42.5vw;
    background-image: url('../images/l6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfrog1 {
    width: 15vw;
    height: 15vh;
    left: 42.5vw;
    background-image: url('../images/r1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfrog2 {
    width: 16vw;
    height: 16vh;
    left: 42.5vw;
    background-image: url('../images/r2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfrog3 {
    width: 18vw;
    height: 20vh;
    left: 42.5vw;
    background-image: url('../images/r3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfrog4 {
    width: 19vw;
    height: 19vh;
    left: 42.5vw;
    background-image: url('../images/r4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfrog5 {
    width: 24vw;
    height: 24vh;
    left: 42.5vw;
    background-image: url('../images/r5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfrog6 {
    width: 26vw;
    height: 26vh;
    left: 42.5vw;
    background-image: url('../images/r6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfrog7 {
    width: 26vw;
    height: 26vh;
    left: 42.5vw;
    background-image: url('../images/r6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* FROG DAMAGE FRAMES */

.lh1 {
    width: 15vw;
    height: 15vh;
    right: 42.5vw;
    background-image: url('../images/lh1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lh2 {
    width: 15vw;
    height: 15vh;
    right: 42.5vw;
    background-image: url('../images/lh2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lh3 {
    width: 15vw;
    height: 15vh;
    right: 42.5vw;
    background-image: url('../images/lh3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lh4 {
    width: 15vw;
    height: 15vh;
    right: 42.5vw;
    background-image: url('../images/lh3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rh1 {
    width: 15vw;
    height: 15vh;
    left: 42.5vw;
    background-image: url('../images/rh1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rh2 {
    width: 15vw;
    height: 15vh;
    left: 42.5vw;
    background-image: url('../images/rh2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rh3 {
    width: 15vw;
    height: 15vh;
    left: 42.5vw;
    background-image: url('../images/rh3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rh4 {
    width: 15vw;
    height: 15vh;
    left: 42.5vw;
    background-image: url('../images/rh3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* BUGS */

#bug {
    position: absolute;
    z-index: 2;
}

.lfly1 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    background-image: url('../images/lfly1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lfly2 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/lfly2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lfly3 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/lfly3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lfly4 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/lfly3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfly1 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    background-image: url('../images/rfly1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfly2 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/rfly2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfly3 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/rfly3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rfly4 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/rfly3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lbee1 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    background-image: url('../images/lbee1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lbee2 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/lbee2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lbee3 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/lbee3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.lbee4 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/lbee3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rbee1 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    background-image: url('../images/rbee1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rbee2 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/rbee2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rbee3 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/rbee3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rbee4 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/rbee3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rpuffer1 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    background-image: url('../images/rpuffer1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rpuffer2 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/rpuffer2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rpuffer3 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/rpuffer3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.rpuffer4 {
    width: 10vw;
    height: 10vh;
    bottom: 34vh;
    position: absolute;
    background-image: url('../images/rpuffer3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}